.StatSummary {
    display: flex;
    flex-direction: column;
    border-width: 2px;     
    border-style: solid;   
    border-color: #00FFFF;   
    border-radius: 2px;    
    padding-left: 10px;
    background-color: #1C1C1E ;
    color: #E5E5E5;
}

.StatGreeting {
    margin: 0;
}

.SummeryEntry {
  align-self: flex-start;
  margin: 4px 0;
}