.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  font-size: 2vmin;
  border-width: 2px;     
  border-style: solid;   
  border-color: #00FFFF;   
  border-radius: 2px;  
  color: #E5E5E5;
  margin: 10px;
  background-color: #1C1C1E;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #E5E5E5;
    
  }

  a:hover {
    background-color: #1a1a1a;
    color: whitesmoke;
  }

  a.active {
    background-color: rebeccapurple;
    color: whitesmoke;
  }

 
}